body{
    width: 100%;
    padding :0% 0%;
    box-sizing: border-box;
    margin: 0;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    color: #282c3f;
    height: 2000px;
}
.site-padding{
    padding: 0px 160px;
}
h1{
    font-size: 50px;
    margin: 10px 0px;
    color: #282c3f;
}
.color-white{
    color: rgb(255, 255, 255);

}
.bold-600{
    font-weight: 600;
}
.bold-300{
    font-weight: 300;

}
.color-grey{
    color: #a9abb2;
}
.pop{
    font-family: 'popins';
}
.header{
    width: 100%;
    padding: 0;
    display: flex;

}
.header-left{
    width:55%;
    padding:60px 0px;
    padding-left:160px;
    box-sizing: border-box;
    padding-right:40px;
    

}
.header-left-top{
    display: flex;
    align-items: center;
    padding-bottom:60px;
    justify-content: space-between;

}
#logo{
    box-sizing: border-box;
    width: 30%;

}
#btn-login{
    background-color: rgba(240, 248, 255, 0);
    color: black;
    font-size: medium;
    font-weight: 600;
    border: 0;
    padding:10px 20px ;
    cursor: pointer;
}
#btn-login:hover{
    color: rgb(255, 70, 33);
}
#btn-signup{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: 600;
    border: 0;
    padding:10px 20px ;
    box-shadow: 0px;
    cursor: pointer;

}
#btn-signup:hover{
    box-shadow:3px 0px 50px 1px rgba(46, 46, 46, 0.41) ;
    cursor: pointer;
}
.header-left-search{

    width: 100%;
}
.find-food-flex{
    display: flex;
}
.find-food{
    display:flex;
    border:1px solid;
    border-width: 1px;
    border-color:rgb(255, 70, 33);
    padding: 10px;
    width: 75%;
    justify-content: space-between;
}
#btn-findfood{
    text-align: center;
    background-color: rgb(255, 70, 33);
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: 600;
    border: 0;
    padding:10px 20px ;
    box-shadow: 0px;
    width: 25%;
    height: 60px;
    cursor: pointer;

}
#btn-locate{
    background-color: rgba(240, 248, 255, 0);
    color: rgb(83, 83, 83);
    font-size: medium;
    font-weight: 300;
    border-width: 0;
    padding:10px 20px ;
    cursor: pointer;
}
.find-food input{
    border: none;
    width: 70%;   
}
.find-food input:focus{
    outline: none;
    width: 70%;   
}
.find-food input::placeholder{
    border: none;
    font-size: 20px;
}
.header-right{
    width:45%;
    background-image:url(images/Lunch1_vlksgq.webp);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover;
}
.section-1{
    display: flex;
    box-sizing: border-box;
    padding: 0px 160px;
    padding-bottom: 50px;
    margin: 0;
    background-color: #2b1e16;
    height: 400px;
    width: 100%;
    justify-content: space-between;

}
.img-box{
    display: block;
    box-sizing: border-box;
    width: 250px;
    padding: auto;
    text-align: center;

}
.img-box img{
    height: 200px;
}
.section-2{
    display: flex;
    height: 550px;
}
.section-2-left{
    box-sizing: border-box;
    padding:120px 0px;
    padding-right: 45px;
    width: 40%;
}
.section-2-left a{
    width: 50%;
}
#googleplay{
    height: 87px;
    position: relative;
    top: 0px;
    left: 0px;
}
.section-2-right{
    box-sizing: border-box;
    overflow-y: hidden;
    padding:0px 0px;
    width: 60%;
}
.footer-list-1{
    width: 25%;
}
.footer-list{
    list-style: none;
    padding: 0;
}
.footer-list li{
    margin-top: 15px;
    font-family: "montserrat";
}
.footer-list-download-button{
    padding-top: 2em;
    align-items: flex-start;
}
.footer-bottom{
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px;
    border-color: aliceblue;
    
}
.footer-bottom img{
    width: 7em;
}
